<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change title of the page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <div id="app">
    <!--begin: score-->
    <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                <div>
                    Score : {{ calculate_score }}
                </div>
            </h1>
            <h2 class="subtitle">
              Next staring word : 「{{　next_staring_word }}」
            </h2>
          </div>
        </div>
    </section>
    <!--end: score-->
    <!--begin:form-->
    <div>
        <div class="field is-grouped">
            <p class="control is-expanded has-icon-left">
                <input v-model="entered_answer" class="input" type="text" placeholder="Enter name">
            </p>
            <p class="control">
                <div v-if="is_valid_answer">
                    <button v-on:click="enter_answer" class="button is-primary">
                        答える
                    </button>
                </div>
                <div v-else>
                    <button class="button is-primary" disabled>
                        答える
                    </button>
                </div>
            </p>
        </div>
        <div v-if="is_valid_answer">
            <p class="help is-success has-text-centered">有効な解答です</p>
        </div>
        <div v-else>
            <p class="help is-danger has-text-centered">無効な解答です</p>
        </div>
    </div>
    <!--end:form-->
    <!--random_image_reference : https://picsum.photos/200-->
    <!--begin:past answers-->
    <p v-html=past_answers></p>
    <!--end:past answers-->
    <!--begin: pop up-->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            Display score, tweet, try again,
            start button
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!--end: pop up-->
    <script src="zukan.js"></script>
    <script src="index.js"></script>
    </body>
</html>