<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shiritori</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <div id="app">
    <!--begin: score-->
    <section class="hero is-primary" id="score_screen">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                <div>
                    Score : {{ calculate_score }}
                </div>
            </h1>
            <h2 class="subtitle">
              Next staring word : 「{{　next_staring_word }}」
            </h2>
          </div>
        </div>
    </section>
    <!--end: score-->
    <!--begin:form-->
    <div class="form">
        <div class="field is-grouped">
            <p v-if="is_valid_answer" class="control is-expanded has-icon-left">
                <input v-model="entered_answer" v-on:keydown.enter="enter_answer" class="input" type="text" placeholder="Enter name">
            </p>
            <p v-else class="control is-expanded has-icon-left">
                <input v-model="entered_answer" class="input" type="text" placeholder="Enter name">
            </p>
            <p class="control">
                <div v-if="is_valid_answer">
                    <button v-on:click="enter_answer" class="button is-primary" type="button">
                        答える
                    </button>
                </div>
                <div v-else>
                    <button class="button is-primary" disabled>
                        答える
                    </button>
                </div>
            </p>
        </div>
        <div v-if="is_valid_answer">
            <p class="help is-success has-text-centered">有効な解答です</p>
        </div>
        <div v-else>
            <p class="help is-danger has-text-centered">無効な解答です</p>
        </div>
    </div>
    <!--end:form-->
    <!--random_image_reference : https://picsum.photos/200-->
    <!--begin:past answers-->
    <div v-html="past_answers"></div>
    <!--end:past answers-->
    <!--begin: pop up-->
    <div class="modal" v-bind:class="finish_menu">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title has-text-centered">{{game_result}}</p>
            </header>
            <section class="modal-card-body has-text-centered">
                <p>あなたのスコアは{{calculate_score}}です</p>
            </section>
            <footer class="buttons modal-card-foot is-centered">
              <button class="button is-info has-icon-left" v-on:click="tweet"><i class="fab fa-twitter"></i>Tweet</button>
              <button class="button is-danger" v-on:click="restart"><i class="fas fa-play"></i>Replay</button>
            </footer>
        </div>
    </div>
    <!--end: pop up-->
    </body>
    <script src="zukan.js"></script>
    <script src="index.js"></script>
</html>